#first-ul, #scnd-ul{ 
    margin-top: 60px; 
    font-weight: bolder;
    font-size: larger;
    color:white;
    display: grid;
    
    justify-content: center;
    margin-right: 20px;
}



.logo {
    margin-left: 10px;
    border: none;
}   

.log {
    width: 510px;
    height: 520px;
    margin-bottom: 30px;
}



#scnd-ul {
    color:lightblue;
    font-size: 2vw;
}

/* #dark {
    color:darkblue;
    font-weight: bold;
}
*/

h2 {
    color: white;
}

#trauma-img, #community, #idps-img {
    width: 202px;
    height: 200px;
}

#galleries {
    width:337px;
	height:202px;
}

#name {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
}

    #nav-list {
        margin-right: 295px;
    }

#sponsor div {
    display: flex;
    text-align: center;
}

